// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #fcec8c;
$orange: #fc5424;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// Singu Colors:

$yellow: #fcec8c;
$brown: #e4d4c4;
$light-brown:#fcf4ec;
$light-pink: #fca4b4;
$pink: #fc6c64;
$strong-pink: #fc6c9c;
$orange: #fc5424;
