<div id="bannerlSolutions">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("singu_solucoes.jpg", class:"d-block w-100", alt:"Image 1") %>
      <div class="carousel-caption d-none d-md-block">
        <h3>pra cada negócio,</h3>
        <h2>uma solução singu</h2>
        <p>Nossas soluções de bem-estar se adaptam aos mais diversos modelos de negócio.</p>
        <%= link_to "fale com a singu!", new_contact_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
