<div class="about-banner-container" data-controller="parallax">
  <div class="about-banner-bg"></div>
  <div class="about-banner-content">
    <!-- Your existing content here -->
    <h3>o que é a</h3>
    <h2>Singu Empresas?</h2>
    <p>Vamos muito além de um simples benefício corporativo. Somos uma plataforma completa de serviços de beleza, bem-estar e autocuidado para levar mais qualidade de vida aos seus colaboradores.</p>
      <div class="home-btn">
        <%= link_to "vem saber mais", solucoes_path, class: "btn btn-primary" %>
      </div>
  </div>
</div>
