<div id="bannerlAbout">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("singu_sobre_nos.jpg", class:"d-block w-100", alt:"Image 1") %>
      <div class="carousel-caption d-none d-md-block">
        <h3>o que é a</h3>
        <h2>Singu Empresas?</h2>
        <p>Vamos muito além de um simples benefício corporativo. Somos uma plataforma completa de serviços de beleza, bem-estar e autocuidado para levar mais qualidade de vida aos seus colaboradores.</p>
        <%= link_to "vem saber mais", solucoes_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
