<div class="home-banner-container" data-controller="parallax">
  <div class="home-banner-bg"></div>
  <div class="home-banner-content">
    <!-- Your existing content here -->
      <h3>beleza e bem-estar</h3>
        <h2>onde seus colaboradores estiverem</h2>
        <p>Transforme a maneira como seus colaboradores se sentem com os nossos serviços de autocuidado. Conheça a Singu Empresas e coloque o bem-estar da sua equipe em primeiro lugar. </p>
      <div class="home-btn">
        <%= link_to "conheça a singu empresas", sobre_path, class: "btn btn-primary" %>
      </div>
  </div>
</div>

<div class="mobile-home-banner-content">
    <!-- Your existing content here -->
  <h3>beleza e bem-estar</h3>
  <h2>onde seus colaboradores estiverem</h2>
  <p>Transforme a maneira como seus colaboradores se sentem com os nossos serviços de autocuidado. Conheça a Singu Empresas e coloque o bem-estar da sua equipe em primeiro lugar. </p>
  <div class="home-btn">
    <%= link_to "conheça a singu empresas", sobre_path, class: "btn btn-primary" %>
  </div>
</div>
