<div id="bannerlHome">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("singu_home.jpg", class:"d-block w-100", alt:"Image 1") %>
      <div class="carousel-caption d-none d-md-block">
        <h3>beleza e bem-estar onde seus colaboradores estiverem</h3>
        <p>Transforme a maneira como seus colaboradores se sentem com os nossos serviços de autocuidado. Conheça a Singu Empresas e coloque o bem-estar da sua equipe em primeiro lugar. </p>
        <%= link_to "conheça a singu empresas!", sobre_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
