<div class="new-solution-banner-container" data-controller="parallax">
  <div class="new-solution-banner-bg"></div>
  <div class="new-solution-banner-content">
    <!-- Your existing content here -->
    <h3>pra cada negócio,</h3>
    <h2>uma solução singu</h2>
    <p>Nossas soluções de bem-estar se adaptam aos mais diversos modelos de negócio.</p>
      <div class="home-btn">
        <%= link_to "fale com a singu", new_contact_path, class: "btn btn-primary" %>
      </div>
  </div>
</div>
