<div class="container beleza">
  <div class="beleza-info">
    <h3>a beleza está</h3>
    <h2>onde você está</h2>
    <p>nossas soluções de bem-estar te acompanham em todos os lugares: em casa, no trabalho ou em uma aventura.</p>
  </div>
  <div class="beleza-solutions">
    <div class="beleza-item casa">
      <p>casa</p>
    </div>
    <div class="beleza-item trabalho">
      <p>trabalho</p>
    </div>
    <div class="beleza-item aeroporto">
      <p>aeroporto</p>
    </div>
    <div class="beleza-item eventos">
      <div class="beleza-text">
        <p>eventos</p>
      </div>
    </div>
  </div>
</div>
