<div class="container email-form">
  <h3>Ou deixe seu email que entraremos em contato</h3>

  <%= simple_form_for @contact, url: contacts_path, method: :post, html: { class: 'form-inline' } do |f| %>
    <div class="email-form-fields">
      <%= f.input :email, label: false, placeholder: 'Email', input_html: { class: 'form-control mr-2 email-width' } %>
      <%= f.button :submit,'Enviar',class:"btn btn-primary" %>
    </div>
  <% end %>
</div>
