<div class="container fale-conosco">
  <div class="container-content">
    <div class="container-image">
      <%= image_tag 'fale_conosco.jpg' %>
    </div>
    <div class="container-info">
      <h3>ei, vamos conversar?</h3>
      <p>Estamos prontas pra encontrar a melhor e mais inovadora solução de bem-estar pro seu negócio.</p>
      <%= link_to "quero falar com a singu ", new_contact_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
