<div class="container fale-conosco">
  <div class="container-content">
    <%= image_tag 'foto1.jpg' %>
    <div class="container-info">
      <h3>Fale Conosco</h3>
      <p>Temos uma solução de bem estar para o seu negócio.
        Atendemos todos os tipos de empreendimentos
        corporativos. Clique em saiba mais e descubra!</p>
      <%= link_to "Fale com a Singu", new_contato_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
