<div class="container missao">
  <div class="m-card">
    <i class="fa-regular fa-user fa-2xl" id="user-logo" style="color: #fca4b4;"></i>
    <h5>Missão</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit suscipit congue. Aliquam at lacus ac enim scelerisque pulvinar. Sed ultricies justo eget sem porta luctus.  </p>
  </div>
  <div class="m-card">
    <i class="fa-regular fa-user fa-2xl" id="user-logo" style="color: #fca4b4;"></i>
    <h5>Visão</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit suscipit congue. Aliquam at lacus ac enim scelerisque pulvinar. Sed ultricies justo eget sem porta luctus.  </p>
  </div>
  <div class="m-card">
    <i class="fa-regular fa-user fa-2xl" id="user-logo" style="color: #fca4b4;"></i>
    <h5>Valor</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit suscipit congue. Aliquam at lacus ac enim scelerisque pulvinar. Sed ultricies justo eget sem porta luctus.  </p>
  </div>
</div>
