<div class="container missao">
  <div class="m-card">
    <%= image_tag "icone-missao.svg" %>
    <h5>missão</h5>
    <p>Nossa missão é proporcionar um toque de beleza e bem-estar na vida dos colaboradores das empresas parceiras incentivando o equilíbrio entre trabalho e qualidade de vida.</p>
  </div>
  <div class="m-card">
    <%= image_tag "icone-visao.svg" %>
    <h5>visão</h5>
    <p>Acreditamos em um futuro onde o bem-estar seja prioridade pras empresas e trabalhamos para promover um ambiente de trabalho onde todos se sintam confortáveis e valorizados.</p>
  </div>
  <div class="m-card">
    <%= image_tag "icone-valores.svg" %>
    <h5>valores</h5>
    <p>Nosso compromisso com a excelência no atendimento, a empatia e a inovação constante nos guia na busca por um ambiente de trabalho mais saudável e feliz.</p>
  </div>
</div>
