<div class="container porque-contratar">
  <div class="porque-contratar-image">
    <%= image_tag "porque_contratar.jpg" %>
  </div>
  <div class="porque-contratar-info">
    <h3>por que contratar a singu?</h3>
    <p id="porque-contratar-description">Porque a gente é a melhor solução de bem-estar para o seu negócio. Nossos serviços são personalizados e atendem às necessidades de cada cliente. Além disso, temos uma equipe de profissionais altamente qualificados e treinados para oferecer a melhor experiência de bem-estar para os seus colaboradores.</p>
    <%= link_to "fale com a singu ", new_contact_path, class: "btn btn-primary" %>
  </div>
</div>
