<div class="container">
  <h3>Como funciona?</h3>
  <div class="solution-container">
    <div class="step-container">
      <div class="step-number">
        <h2>1</h2>
      </div>
      <div class="step-info">
        <%= @solution.step_1 %>
      </div>
    </div>
    <div class="step-container">
      <div class="step-number">
        <h2>2</h2>
      </div>
      <div class="step-info">
        <%= @solution.step_2 %>
      </div>
    </div>
    <div class="step-container">
      <div class="step-number">
        <h2>3</h2>
      </div>
      <div class="step-info">
        <%= @solution.step_3 %>
      </div>
    </div>
    <div class="step-container">
      <div class="step-number">
        <h2>4</h2>
      </div>
      <div class="step-info">
        <%= @solution.step_4 %>
      </div>
    </div>
  </div>
</div>
