<div class="solution-banner-container">
  <div class="solution-banner-title">
    <h1><%= @solution.title %></h1>
    <p><%= @solution.description %></p>
    <%= link_to "fale com a singu!", new_contato_path, class: "btn btn-primary" %>
  </div>
</div>
