<div class="container container-solutions">
  <div class="solutions-title">
    <h3>benefícios para o colaborador</h3>
  </div>
  <div class="solutions-cards">
    <div class="solution">
      <div class="solution-image">
        <%= image_tag "foto1.jpg" %>
      </div>
      <div class="solution-info">
        <p>lorem</p>
        <%= link_to "saiba mais", new_contato_path, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="solution">
      <div class="solution-image">
        <%= image_tag "foto1.jpg" %>
      </div>
      <div class="solution-info">
        <p>lorem</p>
        <%= link_to "saiba mais", new_contato_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
