<div class="container caroussel-container" data-controller="scroll-animation">
  <%= render "shared/banner_about" %>
</div>

<div class="container" data-controller="scroll-animation">
  <%= render "shared/missao" %>
</div>

<div class="container" data-controller="scroll-animation">
  <%= render "shared/beleza_bem-estar" %>
</div>

<div data-controller="scroll-animation">
  <%= render "shared/fale_conosco" %>
</div>
