<div class="container caroussel-container">
  <%= render "shared/banner_about" %>
</div>

<div class="container">
  <%= render "shared/missao" %>
</div>

<div class="container">
  <%= render "shared/beleza_bem-estar" %>
</div>

<%= render "shared/fale_conosco" %>
