<div class="container caroussel-container">
  <%= render "shared/caroussel_home" %>
</div>

<div class="container">
  <%= render "shared/missao" %>
</div>

<div class="container">
  <%= render "shared/beleza_bem-estar" %>
</div>
