<div class="container caroussel-container">
  <%= render "shared/banner_home" %>
</div>

<div class="container home-title">
  <h3>conheça as experiências de bem-estar que temos pra você </h3>
</div>

<div class="container caroussel-container">
  <%= render "shared/caroussel_beneficios" %>
</div>
