<div class="container caroussel-container">
  <%= render "shared/caroussel_home" %>
</div>

<div class="container home-title">
  <h3>Descubra o que podemos fazer por você</h3>
</div>

<div class="container caroussel-container">
  <%= render "shared/caroussel_beneficios" %>
</div>
