<div class="container caroussel-container">
  <%= render "shared/banner_home" %>
</div>

<div class="container home-title" data-controller="scroll-animation">
  <h3>conheça as experiências de bem-estar que temos pra você </h3>
</div>

<div class="container caroussel-container" data-controller="scroll-animation">
  <%= render "shared/caroussel_beneficios" %>
</div>

<div data-controller="scroll-animation">
  <%= render "shared/fale_conosco" %>
</div>
