<div class="container caroussel-container">
  <%= render "shared/contact_banner" %>
</div>

<div class="container">
  <%= render "shared/message_form" %>
</div>

<div class="container">
  <%= render "shared/email_form" %>
</div>
