// .container.beleza {
//   padding-right: 0;
// }

.beleza {
  // height: 50vh;
  background-color: $yellow;
  border-radius: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  padding-right: 0;
  padding-left: 0;
}


.beleza-solutions {
  display: flex;
}

@media (max-width: 991px) {
  .beleza {
    flex-direction: column;
  }
  .beleza-solutions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 24px;
  }
  .casa,
  .aeroporto,
  .trabalho,
  .eventos {
    height: 35vw !important; /* Adjust as needed */
    width: 35vw !important; /* Adjust as needed */

  // grid-column: span 2 !important;
  }

  .beleza-item {
    margin: 6px;
  }

  .beleza-item.casa {
    display: flex;
    flex-direction: column-reverse;
    p {
      margin-bottom: 0;
    }
  }

  .beleza-item.aeroporto {
    display: flex;
    flex-direction: column-reverse;
    p {
      margin-bottom: 0;
    }
  }

  .beleza-item.trabalho {
    display: flex;
    flex-direction: column-reverse;
    p {
      margin-bottom: 0;
    }
  }

  .beleza-item.eventos {
    display: flex;
    flex-direction: column-reverse;
    p {
      margin-bottom: 0;
    }
  }
}

.beleza-info {
  padding: 3%;
  text-align: center;
}

@media (min-width: 992px) {
  .beleza-item {
    position: relative;
    left: 0px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, margin-left 0.3s ease, left 0.3s ease; /* Add ease transitions */
  }

    .beleza-item:not(:first-child) {
      margin-left: -50px;
    }

    .beleza-item:hover {
      transform: translateY(-20px)
    }

    .beleza-item:hover ~ .beleza-item {
      left: 50px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
      // opacity: 1; /* Make the card fully opaque */
    }

    .beleza-item.casa {
      display: flex;
      flex-direction: column-reverse;
      p {
        margin-bottom: 0;
      }
    }

    .beleza-item.aeroporto {
      display: flex;
      flex-direction: column-reverse;
      p {
        margin-bottom: 0;
      }
    }
}

.beleza-item {
  height: 50vh;
  text-align: center;

  .img-container {
    height: 50vh;
    border-radius: 12px;
    overflow: hidden; /* Hide overflowing content */
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  p {
    background-color: $yellow;
    border-radius: 8px;
  }
}


.beleza-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.casa {
  background-image: url('singu_sobre_casa.jpg');
  background-size: cover; /* This is the equivalent of object-fit: cover for background images */
  background-position: center center; /* Center the image horizontally and vertically */
  height: 50vh;
  width: 240px;
  border-radius: 12px;
  border: 4px;
}

.aeroporto {
  background-image: url('singu_sobre_aeroporto.jpg');
  background-size: cover; /* This is the equivalent of object-fit: cover for background images */
  background-position: center center; /* Center the image horizontally and vertically */
  height: 50vh;
  width: 240px;
  border-radius: 12px;
  border: 4px;
}

.trabalho {
  background-image: url('singu_sobre_trabalho.jpg');
  background-size: cover; /* This is the equivalent of object-fit: cover for background images */
  background-position: center center; /* Center the image horizontally and vertically */
  height: 50vh;
  width: 240px;
  border-radius: 12px;
  border: 4px;
}

.eventos {
  background-image: url('singu_sobre_eventos.jpg');
  background-size: cover; /* This is the equivalent of object-fit: cover for background images */
  background-position: center center; /* Center the image horizontally and vertically */
  height: 50vh;
  width: 240px;
  border-radius: 12px;
  border: 4px;
}
