.caroussel-container {
  padding-bottom: 24px;
  padding-top: 24px;
  img {
    border-radius: 24px;
    height: 60vh;
    object-fit: cover;
  }
}

.carousel-caption {
  color: black;
  text-align: start;
}

// Posicionamento de legenda e botao do caroussel da homepage
.carousel-caption.d-none.d-md-block {
  top: 33%;
  width: 30%;
  left: 10%;
}
