.container-content {
  display: flex;
}

.fale-conosco {
  background-color: #fcf4ec;
  border-radius: 24px;
  padding: 20px;
  margin-bottom: 20px;
  img {
    height: 33vh;
    object-fit: cover;
    border-radius: 12px;
    padding: 24px;
  }
}

.container-info {
  padding: 24px;
}
