.footer {
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-links-detail {
  display: flex;
  a {
    margin-right: 24px;
  }
}

.footer-socials {
  display: flex;
  a {
    margin-left: 24px;
  }

}

.footer-text {
  width: 33vw;
}

.footer-clickables {
  display: flex;
  justify-content: space-between; 
}
