.footer {
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .footer-links {
    flex-direction: column;
  }
}

.footer-links-detail {
  display: flex;
  a {
    margin-right: 24px;
  }
}

.footer-socials {
  display: flex;
  a {
    margin-left: 24px;
  }

}

.footer-text {
  width: 33vw;
}

@media (max-width: 991px) {
  .footer-text {
    width: 100%;
    text-align: center;
  }
  .footer-clickables {
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer-socials {
    padding-top: 24px;
    padding-bottom: 24px;
    width: 20vw;
    justify-content: space-between;
    a {
      margin-left: 0;
    }
  }
}

.footer-clickables {
  display: flex;
  justify-content: space-between;
}
