.email-form {
  background-color: $brown;
  border-radius: 24px;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-top: 36px;
  margin-bottom: 36px;
}

.email-form-fields {
  display: flex;
  justify-content: space-between;
}


.mb-3.email.optional.contact_email {
  margin-right: 4px;
  border-radius: 12px;
  width: 100%;
}

.form-inline {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.form-control {
  background-color: $form-field;
  border-color: $form-field;
  border-radius: 8px;
}

.form-check-input {
  background-color: $form-field;
  border-color: $form-field;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em; /* Adjust as needed */
  width: 100%;
}

@media (max-width: 991px) {
  .form-row {
    flex-direction: column;
  }
  .mb-3.string.optional {
    width: 100% !important;
  }

  .mb-3.tel.optional {
    width: 100% !important;
  }

  .mb-3.text.optional {
    width: 100% !important;
  }

  .mb-3.email.optional.contact_email {
    width: 100% !important;
  }

}

.form-row .form-control {
  flex-basis: 65%; /* Adjust as needed */
}

#new_contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// .form-spacing {
//   width: 100%;
// }

.mb-3.string.optional {
  width: 49%;
}

.mb-3.tel.optional {
  width: 49%;
}

.mb-3.text.optional {
  width: 100%;
}

.mb-3.email.optional.contact_email {
  width: 49%;
}

.new_contact {
  padding-top: 24px;
}
