.missao {
  display: flex;
  padding-top: 48px;
  padding-bottom: 48px;
  margin: 12px;
}

@media (max-width: 991px) {
  .missao {
    flex-direction: column;
  }
}


.m-card {
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
}

#user-logo {
  font-size: 4em;
  padding-top: 24px;
  padding-bottom: 72px;
}
