.solutions-cards {
  display: flex;
  justify-content: space-around;
  padding-bottom: 48px;
}

@media (max-width: 991px) {
  .solutions-cards {
    flex-direction: column;
    align-items: center;
  }
}

.solution {
  text-align: center;
  background-color: $light-gray;
  border-radius: 24px;
  width: 360px;
  margin-top: 24px;
}

.solution-image {
  margin-bottom: 24px;
  img {
    object-fit: cover;
    border-radius: 24px;
    width: 360px;
    height: 180px;
  }
}

.solution-info {
  padding: 24px;
}
