<div class="container caroussel-container">
  <%= render "shared/banner_solutions" %>
</div>

<div class="caroussel-container">
  <%= render "shared/solucoes" %>
</div>

<%= render "shared/fale_conosco" %>
